
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #57a0ff83; /* Color de fondo claro */
  color: #333; /* Corgb(143, 170, 214) texto predeterminado */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  width: 100%;
}
